@font-face {
  font-family: rockwellCondensed;
  src: url(/assets/fonts/rockwell-condensed.ttf);
}
@font-face {
  font-family: caveatBrush;
  src: url(/assets/fonts/caveat-brush.ttf);
}
.social-icon-whatsapp{
  cursor:pointer;
  box-shadow:0px 0px 12px 1px rgba(0,0,0,0.6);
  overflow:hidden;
  width:80px;
  height:80px;
  background:url(/assets/images/whatsapp-btn.png),linear-gradient(0deg, #009846, #009846);
  background-size:70px,100%;
  background-repeat: no-repeat,repeat;
  background-position:50%;
  border-radius:50%;
  position:fixed;
  right:30px;
  bottom:60px;
}
.social-icon-instagram{
  cursor:pointer;
  box-shadow:0px 0px 12px 1px rgba(0,0,0,0.6);
  overflow:hidden;
  width:80px;
  height:80px;
  background:url(/assets/images/instagram-btn.png),linear-gradient(300deg, #2b0fab, red);
  background-size:81px;
  background-repeat: no-repeat;
  background-position:50%;
  border-radius:50%;
  position:fixed;
  right:30px;
  bottom:160px;
}
.header,.header>.row>div{
  min-height:60px;
  font-weight:bold;
  background: url(/assets/images/background-3.jpg);
  background-size: 339px;
  background-position: -18px -6px;
}
.header>.row>.col-4{
  cursor:pointer;
}
.footer{
  min-height:250px;
  padding-top:30px;
  background:lightgray;
  padding-bottom:30px;
}
.area{
  min-height:400px;
  padding-top:80px;
  padding-bottom:80px;
}
.flex-center-vertically{
  display:flex;
  align-items:center;
}
.flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
.banner{
  background:url(/assets/images/background-2.png);
  background-size:auto 100%;
  background-position: 50% 0px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:500px;
  color:white;
}
.footer-bar{
  background:rgba(100,100,100,0.4);
}
.h-50p{
  height:50px;
}
.mh-50p{
  min-height:50px;
}
.logo{
  width: 200px;
  padding:0px;
}
.top-space{
  margin-top:20px;
}
.bold{
  font-weight:bold;
  color:#444;
}
.titulo{
  font-size:20px;
  margin-bottom:60px;
  text-transform:uppercase;
  font-weight:bold;
  color:#333;
}
.bg-1{
  background:#d7ffca;
}
.margin-top{
  margin-top:30px;
}
.margin-bottom{
  margin-bottom:60px;
}
.text-center{
  text-align:center;
}
.area-contato{
  padding-top:200px;
  padding-bottom:200px;
}

.mw-when-sm{

}
.logo-box{

}
.hide-on-sm{

}
.social-icon{}


@media (max-width: 575px){
  .hide-on-sm{
    display: none;
  }
  .logo-box{
    justify-content: center;
    height:100px;
  }
  .logo{
    width:200px;
    margin-top:20px;
  }
  .social-icon-instagram{
    width:70px;
    height:70px;
    background-size:70px,100%;
    bottom:145px;
    right:10px;
  }
  .social-icon-whatsapp{
    width:70px;
    height:70px;
    background-size:60px;
    right:10px;
  }
}

@media (max-width: 768px){
  .footer-bar>div>div{
    justify-content: center!important;
  }
  .footer-box-style{
    margin-top:40px;
  }
  .mw-when-sm{
    width:max-content!important;
  }
  .flex-center-when-sm{
    justify-content: center;
  }
  .contact-title{
      margin-bottom:20px;
  }
  .area-contato {
      padding-top: 140px;
      padding-bottom: 100px;
  }
  .footer .logo{
    width: 240px;
    max-width:99%;
  }
  .align-center-wh-sm{
    text-align:center;
  }
}
.contact-title{

}
.flex-vertical-end{
  display:flex;justify-content:end;
}
.text-type-1{
  text-shadow:0px 0px 4px black;font-family:caveatBrush;font-size:40px;text-align:center;padding-left:10px;padding-right:10px;
}
.text-type-2{
  text-shadow:0px 0px 4px black;font-family:rockwellCondensed;font-size:30px;text-align:center;padding-left:10px;padding-right:10px;
}
.product-box{
  margin-bottom:40px;align-items: center;display:flex;flex-direction:column;
}
.product-image{
  background:url(/assets/images/pedra-sao-tome.png);background-size:100% 100%;width:200px;height:200px;border-radius:10px;
}
.product-title{
  width:200px;margin-top:10px;
}
.w-200p{
  width:200px;
}
.product-button{
  margin-top:10px;background:rgb(200,200,200,0.8);font-size:14px;font-weight:bold;color:#444;border:none;border-radius:7px;padding:5px 20px;
}
.about-image{
  background:url(/assets/images/video-1.png);background-size:100% 100%;width:260px;height:150px;border-radius:10px;margin:15px;
}
.mg-bottom-20p{
  margin-bottom:20px;
}
.contact-btn{
  padding:5px 30px!important;width:max-content!important;border-radius:7px;border:none;background:#a4bf43;
}
.contact-input{
  width:400px!important;max-width:80%!important;
}
.footer-box-image{
  background:url(/assets/images/pedra-sao-tome.png);background-size:100% 100%;width:200px;height:200px;border-radius:10px;
}
.header a{
  text-decoration:none;
  color:black;
}
.action-contato,a{
  text-decoration:none;
  color:black;
  cursor:pointer;
}

/* Video Lightbox */

.overlay{
  position: fixed;
  top:0px;
  left: 0px;
  height:100%;
  width:100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  opacity:0.9;
  display:none;
}
.close{
  position: fixed;
  top:30px;
  right:30px;
  width:16px;
  height:16px;
  z-index:9999;
  display:none;
  cursor: pointer;
}
.main-vid-box{
  position: fixed;
   width: 100%;
  height:100vh;
  display:none;
  top:0px;
  left:0px;
  z-index: 999;
}
.videoWrapper {
  position: relative;
  z-index:999;
  background-color:#000;
  width:100%;
  height: 100%;
  margin:0 auto;
}
.videoWrapper video {
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100% !important;
	height: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-width: 40px;
	border-style: solid;
	border-color: transparent;
}
.about-image.video-link{
  cursor:pointer;
}

@media (min-width: 850px){
  .product-box{
    min-width: 33%!important;
  }
}